@media (max-width: 1200px) {
 .product-thumb .button-group button, .product-thumb .button-group button + button {
 width: 100%;
}
}
@media (max-width: 767px) {
 .product-thumb .button-group button, .product-thumb .button-group button + button {
 width: 100%;
}
}

.product-thumb .button-group {
  border: none;
  display: flex;
  background-color: #FFFFFF; /* mako #eee -> #FFFFFF */
  overflow: auto;
}

.product-thumb .button-group button {
  width: 70%; /* mako 60% -> 70% */ 
  margin: 0 auto;
  border: solid;
  -moz-border-radius: 45px;
  -webkit-border-radius: 45px;
  border-radius: 45px;
  display: inline-block;
  float: left;
  background-color: #4e97b0; /* mako #eee -> #FFFFFF */
  color: #FFFFFF;  /* mako #888 -> #FFFFFF */
  line-height: 38px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  background-size: 100%;
  font-family: "Roboto Condensed";
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  padding: 5px;
}

.product-thumb .image {
  text-align: center;
  padding: 10px 10px;
}

.product-layout {
  padding-left: 0px;
  padding-right: 0px;
}

.product-thumb .caption {
  padding: 0 20px;
  min-height: 0px;
}

.product-thumb .price {
  color: #444;
  text-align: center;
  /*Font*/
  font-family: "Roboto Condensed";
  font-size: 24px;
  font-weight: 400;
  line-height: 29px;
}

.product-thumb h4 {
  font-weight: bold;
  margin-bottom: 40px;
}

/* top */
#top {
  background-color: #FFF;
  border-bottom: none;
  padding: 4px 0px 3px 0;
  margin: 0 0 20px 0;
  min-height: 40px;
}

#top .btn-link, #top-links li, #top-links a {
  color: #000;
  text-shadow: 0 1px 0 #FFF;
  text-decoration: none;
  
  font-family: "Roboto Condensed";
  font-size: 15px;
  font-weight: 400;
  line-height: 18px;
  
  margin-right: 10px;
}

#banner_cupcakes {
  margin-bottom: 0%;
}

.row .no-float {
  display: table-cell;
  float: none;
  vertical-align: middle;
}

#search {
  margin-bottom: 0px;
  width: 100%
}