body {
  font-family: "Roboto Condensed";
  font-weight: 400;
  color: #666;
  font-size: 12px;
  line-height: 20px;
  width: 100%;
  overflow-x: hidden;
}

@media (max-width: 1200px) {
  .product-thumb .button-group button, .product-thumb .button-group button + button {
    width: 100%;
  }
}

@media (max-width: 767px) {
  .product-thumb .button-group button, .product-thumb .button-group button + button {
    width: 100%;
  }
}

.product-thumb {
  border: 1px solid #E6E6E6;
  margin-bottom: 20px;
  overflow: auto;
}

.product-thumb .button-group {
  border: none;
  display: flex;
  background-color: #FFFFFF; /* mako #eee -> #FFFFFF */
  overflow: auto;
}

.product-thumb .button-group button {
  margin: 0 auto;
  border: 1px solid #E6E6E6;
  -moz-border-radius: 45px;
  -webkit-border-radius: 4px;
  padding: 5px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  align-items: flex-end;
  text-align: center;
  text-transform: uppercase;
  background: #FFFFFF;
  color: #997a7a;
}

.product-thumb .image {
  text-align: center;
  padding: 10px 10px;
}

.product-layout {
  padding-left: 0px;
  padding-right: 0px;
}

.product-thumb-featured {
  height: 400px !important;
}

.product-thumb-latest {
  height: 400px !important;
}

.product-thumb-category {
  height: 400px !important;
}

.product-thumb {
  flex-direction: column;
  display: flex;
  margin-bottom: 20px;
  overflow: auto;
  color: #a4ced8;
  background-color: white;
}

.product-thumb .caption {
  padding: 0 20px;
  min-height: 0px;
  flex-grow: 1; /* Let it grow to make the next element always at the bottom */
}

.product-thumb .price {
  padding-bottom: 20px;
  padding-right: 20px;
  color: #1799B2;
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 16px;
  display: flex;
  align-self: flex-end;
}

.product-thumb h4 > a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  /* identical to box height, or 143% */

  color: #000000;
}

/* top */
#top {
  background-color: #FFF;
  border-bottom: none;
  padding: 4px 0px 3px 0;
  margin: 0 0 20px 0;
  min-height: 40px;
}

.delimiter {
  margin-left: 25px;
}

#top-links {
  padding-top: 6px;
  width: 100%;
}

#top-links > ul {
  align-items: stretch;
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  margin: 0;
}

.search_label {
  margin-bottom: 0px;
}

.search_box {
  border: none;
  margin-left: 10px;
}

@media (min-width: 1200px) {
  #top-links > ul > li:first-child {
    margin-left: 200px;
  }
}

#top .btn-link, #top-links li, #top-links a, #top-links label {
  color: #000;
  text-decoration: none;

  font-family: "Roboto";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 160%;

  display: flex;
  align-items: flex-end;
  text-align: right;
}

#banner_cupcakes {
  margin-bottom: 0%;
  text-align: center;
}

#banner_cupcakes > a > img {
  width: 20%;
}

.row .no-float {
  display: table-cell;
  /*float: none;*/
  vertical-align: middle;
  width: 100%;
}

#search {
  margin-bottom: 0px;
  width: 100%;
  border: 1px solid #997a7a;
  -moz-border-radius: 45px;
  -webkit-border-radius: 4px;
}

#menu {
  background-color: #1799B2;
  background-image: none;
  background-repeat: repeat-x;
  border: none;
  min-height: 40px;
}

#menu .dropdown-inner a {
  color: white;
  font-family: "Roboto";
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
}

#menu .nav > li > a, #menu .nav > li > span {
  color: white;
  text-transform: uppercase;
  font-family: "Roboto";
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  line-height: 19px;
  display: flex;
  align-items: center;
  padding: 10px 10px 10px 15px;
  min-height: 15px;
  background-color: transparent;
}

@media (min-width: 1200px) {
  #menu .navbar-nav {
    display: flex;
    align-items: stretch;
    justify-content: space-between;
    width: 100%;
  }
}

#menu .see-all {
	display: block;
  margin-bottom: 0.5em;
  border-top: none;
	border-bottom: 1px solid #DDD;
	padding: 3px 20px;
	-webkit-border-radius: 0 0 4px 4px;
	-moz-border-radius: 0 0 4px 4px;
	border-radius: 0 0 3px 3px;
  font-size: 16px;
  color: white;
}

#menu .navbar-nav {
  /*display: flex;*/
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
}

#menu .dropdown-menu {
  padding-bottom: 0;
  background-color: #1799B2;
  min-width: 200px;
}

.thumbnails .image-additional {
  float: left;
  margin-left: 0px !important;
}

/* 5-column bootstrap START */
.col-xs-5ths,
.col-sm-5ths,
.col-md-5ths,
.col-lg-5ths {
  position: relative;
  min-height: 1px;
  padding-right: 5px;
  padding-left: 5px;
}

.col-xs-5ths {
  width: 20%;
  float: left;
}

@media (min-width: 768px) {
  .col-sm-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 992px) {
  .col-md-5ths {
    width: 20%;
    float: left;
  }
}

@media (min-width: 1200px) {
  .col-lg-5ths {
    width: 20%;
    float: left;
  }
}

/* 5-column bootstrap END */
footer {
  margin-top: 30px;
  padding: 30px 0px;
  background-color: #1799B2;
  border-top: 1px solid #ddd;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 14px;
  display: flex;
  align-items: flex-end;

  color: #FFFFFF;
}

.row_search_main {
  margin-bottom: 3%;
}

.row_menu_main {
  width: 102vw;
  margin-left: -51vw;
  left: 50%;
  position: relative;
}

#search_input::placeholder {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

  color: #997a7a;

  text-align: center;
  text-transform: uppercase;
}

#search .input-lg {
  width: 100%;
  height: 40px;
  line-height: 20px;
  padding: 0 10px;
  border: none;
}

.fav_preview_buttons {
  background: none;
  border: none;
  width: fit-content;
  padding-right: 3%;
}

.fav_preview_buttons:hover {
  background: none;
  border: none;
  cursor: pointer;
}

.featured_buttons_group_fav_preview {
  text-align: right;
  margin-top: 5%;
  margin-right: 5%;
}

#banner_logo {
  background-color: #1799B2;
  text-align: center;
}

#banner_logo > a > img {
  margin-top: 2%;
  margin-bottom: 2%;
}

.row_breadcrumbs {
  margin-top: 3%;
}

.samopek_breadcrumbs {
  list-style: none;
  display: flex;
  padding-left: 0px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 180%;
  color: #000000;
}

.samopek_breadcrumbs > li + li:before {
  padding: 0 5px;
  color: #ccc;
  content: ">";
}

.product_details_model {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;

  padding-top: 10%;

  color: #999999;
}

.product_details_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 22px;
  line-height: 26px;

  color: #000000;
  margin-top: 5%;
}

.product_details_price {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #3AC2D7;
  margin-top: 5%;
}

.product_details_description {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;

  color: #000000;
  margin-top: 5%;
}

.product_details_row {
  overflow: auto;
  clear: both;
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
}

.product_details_row > [class*='col-'] {
  display: flex;
  flex-direction: column;
}

.product_details_section_buy {
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
}

.product_text_stock {
  margin-right: 10px;
  display: inline;
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  color: #000000;
}

.btn-primary {
  color: #ffffff;
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  background: #FFC341;
  border: none;
}

.btn-cart-continue {
  background: #FFC341;
  text-align: center;
  text-transform: uppercase;
  color: #FFFFFF;
  border: none;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
}


.btn-md {
  font-size: 14px;
  text-transform: uppercase;
  margin-top: 20%;
}

.alert-add-product {
  padding-right: 35px;
  /* Needed to override padding which is set in core stylesheet.css. 35px
    corresponds to .alert-dismissable, .alert-dismissible bootstrap styles */
  padding-left: 10px;
  padding-top: 5px;
  padding-bottom: 5px;

  position: fixed;
  top: 0;
  z-index: 999;
  display: none;

  margin-bottom: 20px;
  border: 1px solid transparent;
  border-radius: 4px;

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;

  background-color: #fcda8f;
}

.quantity {
  position: relative;

  align-items: center;

  margin-top: 20%;
  margin-left: 10%;

  width: 80%;
}

.quantity .quantity_tooltiptext {
  position: relative;
  visibility: hidden;

  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; /* Use half of the width (120/2 = 60), to center the tooltip */
}

/* Show the tooltip text when you mouse over the tooltip container */
.quantity:hover .quantity_tooltiptext {
  visibility: visible;
}

#input-quantity {
  border: 0;
  border-width: 0px;
  -webkit-appearance: none;
  box-shadow: none;
  width: 40%;
  align-self: center;
  text-align: center;
}

.quantity_group {
  display: flex;
  justify-content: center;

  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
}

.samopek_button_wo_borders {
  border: 0;
  background: none;
  display: block;
}

.quantity_more_less_btn_plus, .quantity_more_less_btn_minus, .quantity_more_less_btn_minus_cart, .quantity_more_less_btn_plus_cart {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
}

.cart_product_table {
  border: solid 1px #ddd;
  padding-left: 2%;
  padding-right: 2%;
  padding-bottom: 2%;
}

.cart_product_row {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  border-bottom: solid 1px #ddd;
  padding-top: 1%;
  padding-bottom: 1%;
  flex-wrap: wrap;
}

.cart_product_row_totals {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

.cart_product_row_buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  text-align: center;
  margin-top: 2%;
}

.cart_product_delete {
  flex: 0 0 5%;
}

.cart_product_thumb {
  flex: 0 0 10%;
}

.cart_product_title {
  flex: 0 0 55%;
  text-align: left;
  padding-left: 2%;
}

.cart_product_quantity_price {
  display: flex;
  flex-direction: row;
  flex: 0 0 30%;
}

.cart_product_quantity {
  flex: 0 0 20%;
  text-align: left;
}

.cart_product_update {
  text-align: center;
  flex: 0 0 20%;
}

.cart_product_price {
  text-align: right;
  flex: 0 0 20%;
}

.cart_product_total {
  width: 10%;

  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: right;

  color: #3AC2D7;
  flex: 0 0 33%;
}

.cart_product_button_continue {

}

.totals_cell {
  border-left: 1px solid #ddd;
  text-align: center;
}

.cart_product_totals_in_stock {
  /* Text */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;

  width: 80%;

  flex-grow: 5;
}

.cart_product_totals_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  color: #E6E6E6;
  text-transform: uppercase;

  flex-grow: 1;
  margin-right: 5%;
}

.cart_product_totals_value {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-align: center;

  color: #3AC2D7;

  flex-grow: 1;
}

.cart_model {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 10px;
  line-height: 12px;
  color: #999999;
}

@media (min-width: 767px) {
  .cart_product_name {
    font-size: 22px;
  }
}

@media (max-width: 767px) {
  .cart_product_name {
    font-size: 13px;
  }
}

.cart_product_name {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  line-height: 26px;
  color: #000000;
}

.cart_head_title {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 36px;
  line-height: 42px;
  text-transform: uppercase;

  color: #FFC341;
}

.not_in_stock {
  font-family: Roboto;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  color: #FFC341;
  padding-left: 5%;
}

.product_total {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  text-align: center;

  color: #3AC2D7;
}

#totals {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 26px;
  /* identical to box height */

  text-align: center;
  text-transform: uppercase;

  color: #000000;

  padding-top: 10%;
  padding-bottom: 10%;
}

.btn-search {
  color: #997a7a;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #FFFFFF;
  border: none;

  border-left: 1px solid #cccccc;

  text-transform: uppercase;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;

}

@media (max-width: 767px) {
  .title_samopek {
    padding-bottom: 20px;
    width: 100%;
    margin-left: 1%;
  }
}

@media (min-width: 767px) {
  .title_samopek {
    padding-bottom: 20px;
    width: 50%;
    margin-left: 25%;
  }
}

.quantity_price_row {
  display: flex;
}

.quantity_ind {
  flex-grow: 1;
  padding-left: 20px;
}

.product_details_attr_name {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */


  color: #000000;
}

.product_details_attr_value {
  /* Text */

  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 180%;
  /* or 25px */


  color: #3AC2D7;
}

.cart-header-text-style {
  padding-right: 10%;
}

.cart-header-total-style {
  padding-left: 5px;
  padding-right: 5px;
  background-color: #3AC2D7;
  color: white;
  border-radius: 10px;
  white-space: pre;
  margin-left: 5px;
}

#samopek_button:hover svg {
  transform: scale(1.5);
  fill: #3AC2D7;
}

#samopek_button::-moz-focus-inner {
  border: 0;
}

#samopek_button svg {
  outline: none;
  transition: transform 0.3s linear;
}

#samopek_button {
  border: none;
  background: none;
  cursor: pointer;
}

#information-information {
  font-size: 14px;
}
