<div id="search" class="input-group mb-3">
  <input id="search_input" type="text" name="search" value="{{ search }}" class="form-control" />
  <div  class="input-group-append">
    <button type="button" class="btn btn-search btn-lg">{{ text_search }}<!--<i class="fa fa-search"></i>--></button>
  </div>
</div>