<label class="search_label">
  {{ text_search }}
  <span class="delimiter"> | </span>
  <input type="text" name="search" value="{{ search }}" class="search_box"/>
  <span class="delimiter"> | </span>
</label>